<!-- Formular von Dokument Hinzufügen -->

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit Titel "Dokumenthinzufügen" -->
    <head>
        <meta charset="UTF-8" />
        <title>Dokument hinzufügen</title>
    </head>
    <!-- Body-element von Dokument hinzufügen mit zurück-Befehl, Eingabefeld für ID, Name und ein Hinzufügen-Button -->
    <body>
        <h1>Dokument hinzufügen</h1>
        <a th:href="@{/indexDocument}" class="btn btn-default">Zurück</a>
        <br>
        <br>

        <form th:action="@{/addDocument}"
              th:object="${document}" method="POST">

            ID:
            <input type="text" th:field="*{documentId}" />    
            <br/>
            Name:
            <input type="text" th:field="*{name}" />
            <br/>
            <br>
            <input type="submit" value="Hinzufügen" />
        </form>
    </body>
</html>