<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Add Document</title>
    </head>
    <body>
        <h1>Add a Document</h1>
        <a th:href="@{/indexDocument}" class="btn btn-default">Zurück</a>  
        <br>
        <br>

        <form th:action="@{/addDocument}"
              th:object="${document}" method="POST">

            ID:
            <input type="text" th:field="*{documentId}" />    
            <br/>
            Name:
            <input type="text" th:field="*{name}" />
            <br/>
            <br>
            <input type="submit" value="Hinzufügen" />
        </form>
    </body>
</html>