<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Add Document</title>
    </head>
    <body>
        <h1>Add a Document</h1>
        <a th:href="@{/indexDocument}" class="btn btn-default">Zurück</a>  
        <br>

        <form th:action="@{/addDocument}"
              th:object="${document}" method="POST">

            <input type="file" th:field="*{document}" />    
            <br/>
            <input type="submit" value="Add" />
        </form>
    </body>
</html>