<!-- Formular von Gemeinde hinzufügen -->

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit Titel "Gemeinde hinzufügen" -->
    <head>
        <meta charset="UTF-8" />
        <title>Gemeinde hinzufügen</title>
    </head>
    <!-- Body-element von Gemeinde hinzufügen mit Zurück-Befehl, Eingabefeld für ID, Name, Gebühr, Zuzugsgebühr und Wegzugsgebühr 
    Zusätzlich ein Erstellen-Button im Body-element -->    
    <body>
        <h1>Gemeinde hinzufügen</h1>
        <br>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Zurück</a> 
        <br>
        <br>
        <form th:action="@{/addMunicipality}"
              th:object="${municipality}" method="POST">
            ID:
            <input type="text" th:field="*{municipalityId}" />    
            <br/>
            Name:
            <input type="text" th:field="*{municipalityName}" />     
            <br/>
            Gebühr:
            <input type="text" th:field="*{feeMove}" />     
            <br/>
            Zuzugsgebühr:
            <input type="text" th:field="*{feeMoveIn}" />     
            <br/>
            Wegzugsgebühr:
            <input type="text" th:field="*{feeMoveOut}" /> 
            <br>
            <br>
            <input type="submit" value="Erstellen" />
        </form>
    </body>
</html>