<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Add Municipality</title>
    </head>
    <body>
        <h1>Add a Municipality</h1>
        <form th:action="@{/addMunicipality}"
              th:object="${municipality}" method="POST">
            ID:
            <input type="text" th:field="*{municipalityId}" />    
            <br/>
            Name:
            <input type="text" th:field="*{municipalityName}" />     
            <br/>
            Gebühr:
            <input type="text" th:field="*{feeMove}" />     
            <br/>
            Zuzugsgebühr:
            <input type="text" th:field="*{feeMoveIn}" />     
            <br/>
            Wegzugsgebühr:
            <input type="text" th:field="*{feeMoveOut}" /> 
            <br>
            <input type="submit" value="Create" />
        </form>
    </body>
</html>