<!-- Formular von Gemeinde löschen -->

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit Titel "Gemeinde löschen" -->
    <head>
        <meta charset="UTF-8" />
        <title>Gemeinde löschen</title>
    </head>
    <!-- Body-element von Gemeinde löschen mit Zurück-Befehl, Eingabefeld für ID der zu löschenden Gemeinde und ein Löschen-Button -->
    <body>
        <h1>Gemeinde löschen</h1>
        <br>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Zurück</a> 
        <br>
        <br/>
        <form th:action="@{/deleteMunicipality}"
              th:object="${municipality}" method="POST">
            ID der zu löschenden Gemeinde:
            <input type="text" th:field="*{municipalityId}" />    
            <br/>
            <br/>
            <input type="submit" value="Löschen" />
        </form>

        <br/>

    </body>
</html>