<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Gemeinde löschen</title>
    </head>
    <body>
        <h1>Gemeinde löschen</h1>
        <br>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Zurück</a> 
        <br>
        <form th:action="@{/deleteMunicipality}"
              th:object="${municipality}" method="POST">
            ID:
            <input type="Integer" th:field="*{Id}" />    
            <br/>
            <input type="submit" value="Delete" />
        </form>

        <br/>

    </body>
</html>