<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Delete Gemeinde</title>
    </head>
    <body>
        <h1>Delete a Municipality</h1>

        <!--  
           In Thymeleaf the equivalent of
           JSP's ${pageContext.request.contextPath}/edit.html
           would be @{/edit.html}         
        -->

        <form th:action="@{/deleteMunicipality}"
              th:object="${MunicipalityEntity}" method="POST">
            ID:
            <input type="Integer" th:field="*{Id}" />    
            <br/>
            <input type="submit" value="Delete" />
        </form>

        <br/>

    </body>
</html>