<!-- Formular von Dokument löschen -->

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit dem Titel "Dokument löschen" -->
    <head>
        <meta charset="UTF-8" />
        <title>Dokument löschen</title>
    </head>
    <!-- Body-element von Dokument löschen mit Zurück-Befehl, Eingabefeld für ID und ein Löschen-Button -->
    <body>
        <h1>Dokument löschen</h1>
        <br>
        <a th:href="@{/indexDocument}" class="btn btn-default">Zurück</a>
        <br>
        <br>
        <form th:action="@{/deleteDocument}"
              th:object="${document}" method="POST">
            ID:
            <input type="text" th:field="*{documentId}" />    
            <br/>
            <br/>
            <input type="submit" value="Löschen" />
        </form>

        <br/>

    </body>
</html>