<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Dokument suchen</title>
    </head>
    <body>
        <h1>Dokument suchen</h1>
        <br/>
        <a th:href="@{/indexDocument}" class="btn btn-default">Zurück</a>  
        <div>
            <form th:action="@{/getDocumentByName}"
                  th:object="${document}" method="GET">
                Name vom Dokument:
                <input type="string" th:field="*{name}" />    
                <br/>
                <input type="submit" value="Suchen" />
            </form>
        </div>
    </body>
</html>