<!-- Formular von Dokument suchen -->

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit dem Titel "Dokument suchen" -->
    <head>
        <meta charset="UTF-8" />
        <title>Dokument suchen</title>
    </head>
        <!-- Body-element von Dokument suchen mit Zurück-Befehl, Eingabefeld für Name und ein Suchen-Button 
        Zusätzlich eine Ausgabetabelle mit den Reitern ID und Name -->
    <body>
        <h1>Dokument suchen</h1>
        <br/>
        <a th:href="@{/indexDocument}" class="btn btn-default">Zurück</a> 
        <br>
        <br>
        <div>
            <form th:action="@{/getDocumentByName}"
                  th:object="${document}" method="POST">
                Name vom Dokument:
                <input type="text" th:field="*{name}" />    
                <br/>
                <br>
                <input type="submit" value="Suchen" />
            </form>

            <br>
            <br>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td th:utext="${document.documentId}">...</td>
                    <td th:utext="${document.name}">...</td>
                </tr>
            </table>
        </div>
    </body>
</html>