<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Gemeinde suchen</title>
    </head>
    <body>
        <h1>Gemeinde suchen</h1>
        <br/>
        <div>
            <form th:action="@{/getMunicipalityByName}"
                  th:object="${municipality}" method="GET">
                Name der Gemeinde
                <input type="string" th:field="*{name}" />    
                <br/>
                <input type="submit" value="Suchen" />
            </form>
        </div>
    </body>
</html>