<!DOCTYPE html>
<html>
    <head>
        <title>Personenliste nach Status</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Personenliste nach Status</h1>
        <br/>
        <a th:href="@{/indexTransactionLog}" class="btn btn-default">Zurück</a> 
        <br>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Personenliste nach Status</b></div>
            <div class="panel-body">
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Geschlecht</th>
                        <th>Geburstag</th>
                    </tr>s
                    <tr th:each ="person : ${personListe}">
                        <td th:utext="${person.localPersonId}">...</td>
                        <td th:utext="${person.firstName}">...</td>
                        <td th:utext="${person.officialName}">...</td>
                        <td th:utext="${person.sex}">...</td>
                        <td th:utext="${person.dateOfBirth}">...</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
