<!-- Formular von Personenliste nach Status -->

<html>
    <!-- Kopfzeile mit Titel "Personenliste nach Status" -->
    <head>
        <title>Personenliste nach Status</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <!-- Body-element von Personenliste nach Status mit Zurück-Befehl, Eingabefeld für "Name des Statuses" und ein Suchen-Button-->
    <body>
        <h1>Personenliste nach Status</h1>
        <br/>
        <a th:href="@{/indexTransactionLog}" class="btn btn-default">Zurück</a> 
        <br>
        <br>
        <form th:action="@{/getPersonListForStatus}"
              th:object="${status}" method="POST">
            Name des Statuses
            <input type="text" th:field="*{name}" />    
            <br/>
            <br>
            <input type="submit" value="Suchen" />
        </form>
        <br>
        <br>
        <!-- Panel der Ausgabetabelle von der Suchen mit den Reitern ID, AHV-Nummer, Vorname, Nachname, Geschlecht, Geburtstag -->
        <div class="panel panel-default">
            <div class="panel-heading"><b>Personenliste nach Status</b></div>
            <div class="panel-body">
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>AHV-Nummer</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Geschlecht</th>
                        <th>Geburstag</th>
                    </tr>
                    <tr th:each ="person : ${personenListe}">
                        <td th:utext="${person.localPersonId}">...</td>
                        <td th:utext="${person.vn}">...</td>
                        <td th:utext="${person.firstName}">...</td>
                        <td th:utext="${person.officialName}">...</td>
                        <td th:utext="${person.sex}">...</td>
                        <td th:utext="${person.dateOfBirth}">...</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
