<!DOCTYPE html>
<html>
    <head>
        <title>Transaction Log Verwaltung</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Transaction Log Verwaltung</h1>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Statuseinträge</b>
                <br>
                <a th:href="@{/index}" class="btn btn-default">Zurück</a> 
                <br>
                <a th:href="@{/getPersonListForStatus}" class="btn btn-default">Personenliste für einen Status</a>  
                <br>
                <a th:href="@{/getCurrentStatusForPerson}" class="btn btn-default">Aktueller Status für eine Person</a>
            </div>
        </div>
    </body>
</html>
