<!DOCTYPE HTML>
<!-- Index Form -->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Adminstration</title>
    </head>
    <body>
        <h1>Adminstration</h1>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Gemeinden verwalten</a> 
        <br>
        <br>
        <a th:href="@{/indexDocument}" class="btn btn-default">Dokumente verwalten</a> 
        <br>
        <br>
        <a th:href="@{/indexTransactionLog}" class="btn btn-default">TransactionLogs verwalten</a> 
    </body>
</html>

