<!-- Index Formular -->
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit Titel "Administration" -->
    <head>
        <meta charset="UTF-8" />
        <title>Adminstration</title>
    </head>
    <!-- Body-Element mit den Verweisen zu "Gemende verwalten", "Dokumente verwalten" und "TransactionLogs verwalten" -->
    <body>
        <h1>Adminstration</h1>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Gemeinden verwalten</a> 
        <br>
        <br>
        <a th:href="@{/indexDocument}" class="btn btn-default">Dokumente verwalten</a> 
        <br>
        <br>
        <a th:href="@{/indexTransactionLog}" class="btn btn-default">TransactionLogs verwalten</a> 
    </body>
</html>

