<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Zuzugsgebühr ändern</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Zuzugsgebühr ändern</h1>
        <a href="addMunicipality">Add Gemeinde</a>
        <br/><br/>
        <div>
            <form th:action="@{/newFeeIn}"
                  th:object="${MunicipalityEntity}" method="POST">
                Zuzugsgebühr ändern:
                <input type="Integer" th:field="*{Id}" />    
                <br/>
                <input type="Integer" th:field="*{Gebuehr}" />    
                <br/>
                <input type="submit" value="Ändern" />
            </form>
        </div>
    </body>
</html>
