<!-- Formular von Zuzugsgebühr anpassen -->
<!DOCTYPE HTML>
<!-- Index Form -->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Zuzugsgebühr anpassen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid text-center">    
            <div class="row content">
                <div class="col-sm-2 sidenav">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Flag_of_Canton_of_Bern.svg/2000px-Flag_of_Canton_of_Bern.svg.png" class="img-rounded" alt="Bern" vspace="50" width="200" height="200"> 
                </div>
                <div class="col-sm-8 text-left"> 
                    <h1> Zuzugsgebühr anpassen </h1>
                    <p>Füllen Sie die Angaben zur Gemeinde sowie die neue Gebühr aus welche Sie ändern möchten möchten.</p>
                    <a th:href="@{/indexMunicipality}" class="btn btn-default">Zurück</a> 
                    <hr>
                    <form th:action="@{/newFeeIn}"
                          th:object="${municipality}" method="POST">
                        Gemeiden ID:
                        <input type="text" th:field="*{municipalityId}" class="form-control" requred />    
                        <br/>
                        Neue Zuzugsgebühr:
                        <input type="text" th:field="*{feeMoveIn}" class="form-control" required/>    
                        <br/>
                        <br>
                        <input type="submit" value="Ändern" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

