<!-- Formular von Neue Gebühr -->

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit Titel "Neue Gebühr" -->
    <head>
        <meta charset="UTF-8" />
        <title>Neue Gebühr</title>
    </head>
    <!-- Body-element von Neue Gebühr mit Zurück-Befehl, Eingabefeld für Gemeinden ID und der neuen Umzugsgebühr
    Zusätzlich ein Ändern-Button -->
    <body>
        <h1>Neue Gebühr</h1>
        <br>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Zurück</a>
        <br>
        <br>
        <div>
            <form th:action="@{/newFee}"
                  th:object="${municipality}" method="POST">
                Gemeiden ID:
                <input type="text" th:field="*{municipalityId}" />    
                <br/>
                Neue Umzugsgebühr:
                <input type="text" th:field="*{feeMove}" />    
                <br/>
                <br>
                <input type="submit" value="Ändern" />
            </form>
        </div>
    </body>
</html>
