<!-- Formular von Neue Wegzugsgebühr -->

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit Titel "Neue Wegzugsgebühr" -->
    <head>
        <meta charset="UTF-8" />
        <title>Neue Wegzugsgebühr</title>
    </head>
    <!-- Body-element von Neue Wegzugsgebühr mit Zurück-Befehl, Eingabefeld für Gemeinden ID und der neuen Wegzugsgebühr
    Zusätzlich ein Ändern-Button -->
    <body>
        <h1>Neue Wegzugsgebühr</h1>
        <br>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Zurück</a>
        <br>
        <br>
        <div>
            <form th:action="@{/newFeeOut}"
                  th:object="${municipality}" method="POST">
                Gemeiden ID:
                <input type="text" th:field="*{municipalityId}" />    
                <br/>
                Neue Wegzugsgebühr:
                <input type="text" th:field="*{feeMoveOut}" />  
                <br/>
                <br>
                <input type="submit" value="Ändern" />
            </form>
        </div>
    </body>
</html>
