<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Neue Wegzugsgebühr</title>
    </head>
    <body>
        <h1>Neue Wegzugsgebühr</h1>
        <br/>
        <div>
            <form th:action="@{/newFeeOut}"
                  th:object="${municiapality}" method="POST">
                Neue Gebühr:
                <input type="Integer" th:field="*{Id}" />    
                <br/>
                <input type="Integer" th:field="*{gebuehr}" />    
                <br/>
                <input type="submit" value="Ändern" />
            </form>
        </div>
    </body>
</html>
