<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Neue Zuzugsgebühr</title>
    </head>
    <body>
        <h1>Neue Zuzugsgebühr</h1>
        <br>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Zurück</a>
        <br>
        <br>
        <div>
            <form th:action="@{/newFeeIn}"
                  th:object="${municipality}" method="POST">
                Gemeiden ID:
                <input type="Integer" th:field="*{municipalityId}" />    
                <br/>
                Neue Zuzugsgebühr:
                <input type="Integer" th:field="*{feeMoveIn}" />  
                <br/>
                <br>
                <input type="submit" value="Ändern" />
            </form>
        </div>
    </body>
</html>
