<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Dokumenten unbenennen</title>
    </head>
    <body>
        <h1>Dokumenten unbenennen</h1>
        <br/>
        <div>
            <form th:action="@{/renameDocument}"
                  th:object="${document}" method="POST">
                Dokument unbennenen:
                <input type="Integer" th:field="*{Id}" />    
                <br/>
                <input type="String" th:field="*{name}" />    
                <br/>
                <input type="submit" value="Unbennenen" />
            </form>
        </div>
    </body>
</html>
