<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Gemeinde unbenennen</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Gemeinde unbenennen</h1>
        <br>
        <a th:href="@{/indexMunicipality}" class="btn btn-default">Zurück</a> 
        <br/>
        <div>
            <form th:action="@{/renameMunicipality}"
                  th:object="${municipality}" method="POST">
                Gemeinde unbennenen
                <input type="text" th:field="*{Id}" />    
                <br/>
                <input type="text" th:field="*{name}" />    
                <br/>
                <input type="submit" value="Unbennenen" />
            </form>
        </div>
    </body>
</html>
