<!-- Formular von Dokument umbenennen -->

<html xmlns:th="http://www.thymeleaf.org">
    <!-- Kopfzeile mit dem Titel "Dokument umbenennen" -->
    <head>
        <meta charset="UTF-8" />
        <title>Dokumenten umbenennen</title>
    </head>
    <!-- Body-element von Dokument umbenennen mit Zurück-Befehl, Eingabefeld für ID, Neuer Name und ein Umbenennen-Button-->
    <body>
        <h1>Dokumenten umbenennen</h1>
        <br/>
        <a th:href="@{/indexDocument}" class="btn btn-default">Zurück</a>  
        <br>
        <br>
        <div>
            <form th:action="@{/renameDocument}"
                  th:object="${document}" method="POST">
                Dokument umbennenen
                <br>
                ID des zu ändernden Dokuments
                <input type="text" th:field="*{documentId}" />    
                <br/>
                Neuer Name:
                <input type="text" th:field="*{name}" />    
                <br/>
                <br/>
                <input type="submit" value="Umbennenen" />
            </form>
        </div>
    </body>
</html>
