<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Gemeinde unbenennen</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Gemeinde unbenennen</h1>
        <a href="addMunicipality">Add Gemeinde</a>
        <br/><br/>
        <div>
            <form th:action="@{/renameMunicipality}"
                  th:object="${municipality}" method="POST">
                Gemeinde unbennenen
                <input type="Integer" th:field="*{Id}" />    
                <br/>
                <input type="String" th:field="*{name}" />    
                <br/>
                <input type="submit" value="Unbennenen" />
            </form>
        </div>
    </body>
</html>
