<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Dokumenten umbenennen</title>
    </head>
    <body>
        <h1>Dokumenten umbenennen</h1>
        <br/>
        <a th:href="@{/indexDocument}" class="btn btn-default">Zurück</a>  
        <br>
        <br>
        <div>
            <form th:action="@{/renameDocument}"
                  th:object="${document}" method="POST">
                Dokument umbennenen
                <br>
                ID des zu ändernden Dokuments
                <input type="Integer" th:field="*{documentId}" />    
                <br/>
                Neuer Name:
                <input type="String" th:field="*{name}" />    
                <br/>
                <br/>
                <input type="submit" value="Umbennenen" />
            </form>
        </div>
    </body>
</html>
